{% extends "edit.twig" %}

{% block editor_content %}
    {{ content|raw }}
{% endblock %}

{% block buttons %}
    {{ buttons|raw }}
{% endblock %}

{% set plugins = module.getPlugins('record_plugin') %}

{% block plugins_list %}
    {% for plugin in plugins %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_{{ plugin.id }}" id="link-tab_{{ plugin.id }}">{{ plugin.title }}</a>
        </li>
    {% endfor %}
{% endblock %}

{% block plugins_content %}
    {% for plugin in plugins %}
        <div id="tab_{{ plugin.id }}" class="tab-pane">
            {{ plugin.render({reference_id: record_id})|raw }}
        </div>
    {% endfor %}
{% endblock %}
