{% extends "components/descrizione.twig" %}

{% block content_after %}
    {{ parent() }}

    {% include 'components/conti.twig' %}

    <!-- IVA -->
    <div class="row">
        <div class="col-md-4">
            {[ "type": "select", "label": "{{ 'Iva'|trans }}", "name": "idiva", "required": 1, "value": "{{ result['idiva'] }}", "ajax-source": "iva" ]}
        </div>

        <!-- Quantità -->
        <div class="col-md-4">
            {[ "type": "number", "label": "{{ 'Q.tà'|trans }}", "name": "qta", "required": 1, "value": "{{ result['qta'] }}", "decimals": "qta" ]}
        </div>

        <!-- Quanità di misura -->
        <div class="col-md-4">
            {[ "type": "select", "label": "{{ 'Unità di misura'|trans }}", "icon-after": "add|{{ module('Unità di misura')['id'] }}", "name": "um", "value": "{{ result['um'] }}", "ajax-source": "misure" ]}
        </div>
    </div>

    {% set width = options['dir'] == 'entrata' ? 4 : 6 %}
    {% set label = options['dir'] == 'entrata' ? 'Prezzo unitario di vendita'|trans : 'Prezzo unitario'|trans %}

    <div class="row">

    {% if options['dir'] == 'entrata' %}
        <!-- Prezzo di acquisto unitario -->
        <div class="col-md-{{ width }}">
            {[ "type": "number", "label": "{{ 'Prezzo unitario di acquisto'|trans }}", "name": "prezzo_acquisto", "value": "{{ result['prezzo_unitario_acquisto'] }}", "icon-after": "{{ currency()|raw }}" ]}
        </div>

        <!-- Funzione per l'aggiornamento in tempo reale del guadagno -->
        <script>
            function aggiorna_guadagno() {
                var prezzo_acquisto = $("#prezzo_acquisto").val().toEnglish();
                var prezzo = $("#prezzo").val().toEnglish();
                var sconto = $("#sconto").val().toEnglish();
                if ($("#tipo_sconto").val() === "PRC") {
                    sconto = sconto / 100 * prezzo;
                }

                var guadagno = prezzo - sconto - prezzo_acquisto;
                var parent = $("#prezzo_acquisto").closest("div").parent();
                var div = parent.find("div[id*=\"errors\"]");

                div.html("<small>{{ 'Guadagno'|trans }}: " + guadagno.toLocale() + " &euro;</small>");
                if (guadagno < 0) {
                    parent.addClass("has-error");
                    div.addClass("text-danger").removeClass("text-success");
                } else {
                    parent.removeClass("has-error");
                    div.removeClass("text-danger").addClass("text-success");
                }
            }

            aggiorna_guadagno();

            $("#prezzo").keyup(aggiorna_guadagno);
            $("#prezzo_acquisto").keyup(aggiorna_guadagno);
            $("#sconto").keyup(aggiorna_guadagno);
            $("#tipo_sconto").change(aggiorna_guadagno);
        </script>
    {% endif %}

        <!-- Prezzo di vendita unitario -->
        <div class="col-md-{{ width }}">
            {[ "type": "number", "label": "{{ label }}", "name": "prezzo", "value": "{{ result['prezzo'] }}", "required": 1, "icon-after": "{{ currency()|raw }}" ]}
        </div>

        <!-- Sconto unitario -->
        <div class="col-md-{{ width }}">
            {[ "type": "number", "label": "{{ 'Sconto unitario'|trans }}", "name": "sconto", "value": "{{ result['sconto_unitario'] }}", "icon-after": "choice|untprc|{{ result['tipo_sconto'] }}", "help": "{{ 'Il valore positivo indica uno sconto. Per applicare un rincaro inserire un valore negativo.'|trans }}" ]}
        </div>
    </div>
{% endblock %}
