<div id="add_form_{{ module_id }}">
    {% block content %}{% endblock %}
</div>

<!-- Campi personalizzati -->
<div class="d-none" id="custom_fields_top-add">
    <input type="hidden" name="id_module" value="{{ module_id }}">

    {( "name": "custom_fields", "id_module": "{{ module_id }}", "position": "top", "place": "add" )}
</div>

<div class="d-none" id="custom_fields_bottom-add">
    {( "name": "custom_fields", "id_module": "{{ module_id }}", "position": "bottom", "place": "add" )}
</div>

<script src="{{ base_path() }}{{ asset('/js/pages/add.js') }}"></script>
<script>
    var data = {
    {% for key, value in query %}
        "{{ key }}": "{{ value }}",
    {% endfor %}
    };

    var form_id = "#add_form_{{ module_id }}";

    function after_submit_{{ module_id }}(response) {
        // Selezione automatica nuovo valore per il select
        var select = "#{{ query.select }}";
        if ($(select).val() !== undefined) {
            $(select).selectSetNew(response.id, response.text, response.data);
        }
    }

    globals.add = {
        handle_ajax: {{ handle_ajax ? 1 : 0 }},
        form_id: form_id,
        data: data,
        after_submit: after_submit_{{ module_id }},
    };

    $(document).ready(function (){
        init();

        initAdd(globals.add);
    });
</script>
