<div id="form_{{ module_id }}-{{ plugin_id }}">
    {% block content %}{% endblock %}
</div>

<!-- Campi personalizzati -->
<div class="d-none" id="custom_fields_top-add">
    <input type="hidden" name="id_module" value="{{ module_id }}">
    <input type="hidden" name="id_plugin" value="{{ plugin_id }}">

    {( "name": "custom_fields", "id_module": "{{ module_id }}", "id_plugin": "{{ plugin_id }}", "position": "top", "place": "add" )}
</div>

<div class="d-none" id="custom_fields_bottom-add">
    {( "name": "custom_fields", "id_module": "{{ module_id }}", "id_plugin": "{{ plugin_id }}", "position": "bottom", "place": "add" )}
</div>

{% if handle_ajax %}
<script>
    $(document).ready(function(){
        data = {
        {% for key, value in query_params %}
            "{{ key }}": "{{ value }}",
        {% endfor %}
        };

        $("#form_{{ module_id }}-{{ plugin_id }}").find("form").submit(function () {
            submitAjax(this, data, function(response) {
                // Selezione automatica nuovo valore per il select
                select = "#{{ query.select }}";
                if ($(select).val() !== undefined) {
                    $(select).selectSetNew(response.id, response.text, response.data);
                }

                $("#bs-popup2").modal("d-none");
            });

            return false;
        });
    });
</script>
{% endif %}

<script src="{{ base_path() }}{{ asset('/js/pages/add.js') }}"></script>
<script src="{{ base_path() }}{{ asset('/js/base.js') }}"></script>
