{% if module.help %}
<span class="tip" title="{{ module.help }}" data-position="bottom">
{% endif %}

    <i class="{{ module.icon }}"></i> {{ module.title }}

{% if module.help %}
    <i class="fa fa-question-circle-o" style="font-size:0.75em"></i>
</span>
{% endif %}

{% if module.permission == 'rw' %} {# module.hasAddFile() and #}
    <!-- Pulsante "Aggiungi" solo se la struttura lo supporta -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-title="{{ 'Aggiungi'|trans }}..." data-href="{{ module.url('add', {'reference_id': reference_id}) }}">
        <i class="fa fa-plus"></i>
    </button>
{% endif %}
