{% extends "layouts/base.twig" %}

{% block title %}{{ "Configurazione"|trans }}{% endblock %}

{% block body_class %}bg-light{% endblock %}

{% block body %}
<div class="container bg-light pb-5">
    <form action="" method="post" id="config-form">
        <input type="hidden" name="lang" value="{{ full_locale }}">

        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="{{ base_path() }}/assets/img/full_logo.png" alt="{{ 'Logo OpenSTAManager'|trans }}">
            <h2>{{ 'Benvenuto in _NAME_!'|trans({'_NAME_': '<strong>' ~ 'OpenSTAManager'|trans ~ '</strong>'})|raw }}</h2>
            <p class="lead">{{ 'Puoi procedere alla configurazione tecnica del software attraverso i parametri seguenti, che potranno essere corretti secondo necessità tramite il file _FILE_'|trans({'_FILE_': '<i>config.inc.php</i>'})|raw }}. </p>

            <p>{{ "Se necessiti supporto puoi contattarci tramite l'assistenza ufficiale: _LINK_"|trans({'_LINK_': '<a href="https://www.openstamanager.com/contattaci/?subject=Assistenza%20installazione%20OSM" target="_blank">https://www.openstamanager.com/contattaci/</a>' })|raw }}</p>
        </div>

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3 text-muted">{{ 'Lingua'|trans }}</h4>
                <select class="form-control d-none" id="language" required="1">
                    {% for code, language in languages %}
                        <option data-country="{{ language['flag'] }}" value="{{ code }}">{{ language['title'] }}</option>
                    {% endfor %}
                </select>
                <p id="language-info">{{ 'Caricamento lingue in corso'|trans }}...</p>

                <hr class="mb-4">

                <h4 class="d-flex justify-content-between align-items-center mb-3 text-muted">{{ 'Licenza'|trans }}</h4>
                <p>{{ 'OpenSTAManager è tutelato dalla licenza _LICENSE_, da accettare obbligatoriamente per poter utilizzare il gestionale'|trans({'_LICENSE_': 'GPL 3.0'}) }}.</p>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="agree" name="agree" required>
                    <label class="custom-control-label" for="agree">{{ 'Ho visionato e accetto la licenza'|trans }}</label>
                </div>

                <textarea class="form-control" rows="15" readonly>{{ license }}</textarea><br>
                <a class="float-left" href="https://www.gnu.org/licenses/translations.en.html#GPL" target="_blank">[ {{ 'Versioni tradotte'|trans }} ]</a><br><br>
            </div>

            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">{{ 'Formato date'|trans }}</h4>
                <div class="row">
                    <div class="col-md-4">
                        {[ "type": "text", "label": "{{ 'Formato data lunga'|trans }}", "name": "timestamp_format", "value": "d/m/Y H:i", "required": 1 ]}
                    </div>

                    <div class="col-md-4">
                        {[ "type": "text", "label": "{{ 'Formato data corta'|trans }}", "name": "date_format", "value": "d/m/Y", "required": 1 ]}
                    </div>

                    <div class="col-md-4">
                        {[ "type": "text", "label": "{{ 'Formato orario'|trans }}", "name": "time_format", "value": "H:i", "required": 1 ]}
                    </div>
                </div>

                <small>{{ 'I formati sono impostabili attraverso lo standard previsto da PHP: _LINK_'|trans({'_LINK_': '<a href="https://www.php.net/manual/en/function.date.php#refsect1-function.date-parameters">https://www.php.net/manual/en/function.date.php#refsect1-function.date-parameters</a>'})|raw }}.</small>
                <hr class="mb-4">

                <h4 class="mb-3">{{ 'Database'|trans }}</h4>

                <!-- db_host -->
                <div class="row">
                    <div class="col-md-12">
                        {[ "type": "text", "label": "{{ 'Host del database'|trans }}", "name": "host", "placeholder": "{{ "Indirizzo dell'host del database"|trans }}", "value": "{{ host }}", "help": "{{ 'Esempio'|trans }}: localhost", "show-help": 0, "required": 1 ]}
                    </div>
                </div>

                <!-- db_username -->
                <div class="row">
                    <div class="col-md-12">
                        {[ "type": "text", "label": "{{ "Username dell'utente MySQL"|trans }}", "name": "username", "placeholder": "{{ "Username"|trans }}", "value": "{{ username }}", "help": "{{ 'Esempio'|trans }}: root", "show-help": 0, "required": 1 ]}
                    </div>
                </div>

                <!-- db_password -->
                <div class="row">
                    <div class="col-md-12">
                        {[ "type": "password", "label": "{{ "Password dell'utente MySQL"|trans }}", "name": "password", "placeholder": "{{ "Password"|trans }}", "value": "{{ password }}", "help": "{{ 'Esempio'|trans }}: mysql", "show-help": 0 ]}
                    </div>
                </div>

                <!-- db_name -->
                <div class="row">
                    <div class="col-md-12">
                        {[ "type": "text", "label": "{{ 'Nome del database'|trans }}", "name": "database_name", "placeholder": "{{ 'Database'|trans }}", "value": "{{ database_name }}", "help": "{{ 'Esempio'|trans }}: openstamanager", "show-help": 0, "required": 1 ]}
                    </div>
                </div>

                <hr class="mb-4">

                <!-- PULSANTI -->
                <div class="row">
                    <div class="col-md-4">
                        <span>*<small><small>{{ 'Campi obbligatori'|trans }}</small></small></span>
                    </div>
                    <div class="col-md-4 text-right">
                        <button type="button" id="test" class="btn btn-warning btn-block">
                            <i class="fa fa-file-text"></i> {{ 'Testa il database'|trans }}
                        </button>
                    </div>
                    <div class="col-md-4 text-right">
                        <button type="submit" id="install" class="btn btn-success btn-block">
                            <i class="fa fa-check"></i> {{ 'Installa'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
{% endblock %}

{% block js %}
<script>
    globals.configuration = {
        test_url: "{{ url_for('configuration-test') }}",
        translations: {
            error: "{{ 'Errore della configurazione'|trans }}",
            errorMessage: "{{ 'La configurazione non è corretta'|trans }}.",

            permissions: "{{ 'Permessi insufficienti'|trans }}",
            permissionsMessage: "{{ "L'utente non possiede permessi sufficienti per il testing della connessione. Potresti rilevare problemi in fase di installazione."|trans }}",

            success: "{{ 'Configurazione corretta'|trans }}",
            successMessage: "{{ 'Ti sei connesso con successo al database'|trans }}. {{ "Clicca su 'Installa' per proseguire"|trans }}.",
        }
    };
</script>

<script type="text/javascript" charset="utf-8" src="{{ base_path() }}{{ asset('/js/pages/configuration.js') }}"></script>
{% endblock %}
