{% extends "layouts/base.twig" %}

{% block title %}{{ "Inizializzazione"|trans }}{% endblock %}

{% block body_class %}bg-light{% endblock %}

{% block body %}
<div class="container pb-5">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="{{ base_path() }}/assets/img/full_logo.png" alt="{{ 'Logo OpenSTAManager'|trans }}">
        <h2>{{ 'Inizializzazione di _NAME_!'|trans({'_NAME_': '<strong>' ~ 'OpenSTAManager'|trans ~ '</strong>'})|raw }}</h2>
        <p class="lead">{{ "Completa la configurazione del gestionale inserendo le ultime informazioni di base"|trans }}. </p>
    </div>

    <!-- Visualizzazione dell'interfaccia di impostazione iniziale, nel caso il file di configurazione sia mancante oppure i paramentri non siano sufficienti -->
    <form action="" method="post" id="init-form" enctype="multipart/form-data">
        <input type="hidden" name="action" value="init">

        {% if not has_user %}
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'Amministrazione'|trans }}</h3>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        {[ "type": "text", "label": "{{ 'Username'|trans }}", "name": "admin_username", "placeholder": "{{ "Digita l'username dell'amministratore"|trans }}", "required": 1 ]}
                    </div>

                    <div class="col-md-6">
                        {[ "type": "password", "label": "{{ 'Password'|trans }}", "id": "password", "name": "admin_password", "placeholder": "{{ "Digita la password dell'amministratore"|trans }}", "required": 1, "icon-after": "<i onclick=\"togglePassword(this)\" title=\"{{ 'Visualizza password'|trans }}\" class=\"fa fa-eye clickable\" ></i>" ]}
                    </div>

                    <div class="col-md-6">
                        {[ "type": "email", "label": "{{ 'Email'|trans }}", "name": "admin_email", "placeholder": "{{ "Digita l'indirizzo email dell'amministratore"|trans }}" ]}
                    </div>
                </div>
            </div>
        </div>

        <script>
            function togglePassword(btn) {
                var button = $(btn);

                if (button.hasClass("fa-eye")) {
                    $("#password").attr("type", "text");
                    button.removeClass("fa-eye").addClass("fa-eye-slash");
                    button.attr("title", "Nascondi password");
                }
                else {
                    $("#password").attr("type", "password");
                    button.removeClass("fa-eye-slash").addClass("fa-eye");
                    button.attr("title", "Visualizza password");
                }
            }

        </script>
        {% endif %}

        {% if not has_azienda %}
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'Azienda predefinita'|trans }}</h3>
            </div>

            <div class="box-body">

                {{ azienda_form|raw }}

                <div class="box box-outline box-success collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'Logo stampe'|trans }}</h3>
                        <div class="box-tools float-right">
                            <button type="button" class="btn btn-box-tool" data-toggle="collapse">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">

                        <div class="col-md-12">
                            {[ "type": "file", "placeholder": "{{ 'File'|trans }}", "name": "blob" ]}
                        </div>

                        <p>&nbsp;</p><div class="col-md-12 alert alert-info text-center">{{ 'Per impostare il logo delle stampe, caricare un file ".jpg". Risoluzione consigliata 302x111 pixel'|trans }}.</div>

                    </div>
                </div>

            </div>
        </div>
        {% endif %}

        {% if not has_settings %}

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'Impostazioni di base'|trans }}</h3>
            </div>

            <div class="box-body row">

            {% for setting in settings %}
                <div class="col-md-6">
                    {{ setting|raw }}
                </div>
            {% endfor %}

            </div>
        </div>
        {% endif %}

        <!-- PULSANTI -->
        <div class="row">
            <div class="col-md-4">
                <span>*<small><small>{{ 'Campi obbligatori'|trans }}</small></small></span>
            </div>
            <div class="col-md-4 text-right">
                <button type="submit" id="config" class="btn btn-success btn-block">
                    <i class="fa fa-cog"></i> {{ 'Configura'|trans }}
                </button>
            </div>
        </div>

    </form>

    <script>
        $(document).ready(function(){
            init();

            $("button[type=submit]").not("#config").remove();
        });
    </script>
</div>
{% endblock %}
