{% extends "layouts/guest.twig" %}

{% block title %}{{ "Pagina non trovata!"|trans }}{% endblock %}

{% block box_class %}card-info text-center{% endblock %}
{% block box_header %}
    <h3 class="card-title">{{ 'Pagina non trovata!'|trans }}</h3>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h3 class="text-muted">
            <i class="fa fa-question-circle"></i> {{ 'Pagina non trovata'|trans }}
            <br><br>
            <small class="form-text">{{ 'Stai cercando di accedere a una pagina non disponibile del gestionale'|trans }}.</small>
        </h3>
        <br>

        <a class="btn btn-secondary" href="{{ path_for('login') }}">
            <i class="fa fa-chevron-left"></i> {{ 'Indietro'|trans }}
        </a>
    </div>
{% endblock %}

