{% extends "@resources/layouts/base.twig" %}

{% block js %}
<script>
    search = [];

    {% for key, value in search %}
    search.push("search_{{ key }}");
    search["search_{{ key }}"] = "{{ value }}";
    {% endfor %}

    globals = {
        rootdir: '{{ base_path() }}',

        id_module: '{{ id_module }}',
        id_record: '{{ id_record }}',

        is_mobile: {{ is_mobile }},
        cifre_decimali: '{{ setting('Cifre decimali per importi') }}',

        timestamp_format: "{{ formatter.getTimestampPattern() }}",
        date_format: "{{ formatter.getDatePattern() }}",
        time_format: "{{ formatter.getTimePattern() }}",
        decimals: "{{ formatter.getNumberSeparators()['decimals'] }}",
        thousands: "{{ formatter.getNumberSeparators()['thousands'] }}",
        currency: "{{ currency() }}",

        search: search,
        translations: {
            "day": "{{ 'Giorno'|trans }}",
            "week": "{{ 'Settimana'|trans }}",
            "month": "{{ 'Mese'|trans }}",
            "today": "{{ 'Oggi'|trans }}",
            "firstThreemester": "{{ 'I trimestre'|trans }}",
            "secondThreemester": "{{ 'II trimestre'|trans }}",
            "thirdThreemester": "{{ 'III trimestre'|trans }}",
            "fourthThreemester": "{{ 'IV trimestre'|trans }}",
            "firstSemester": "{{ 'I semestre'|trans }}",
            "secondSemester": "{{ 'II semestre'|trans }}",
            "thisMonth": "{{ 'Questo mese'|trans }}",
            "lastMonth": "{{ 'Mese scorso'|trans }}",
            "thisYear": "{{ "Quest'anno"|trans }}",
            "lastYear": "{{ 'Anno scorso'|trans }}",
            "apply": "{{ 'Applica'|trans }}",
            "cancel": "{{ 'Annulla'|trans }}",
            "from": "{{ 'Da'|trans }}",
            "to": "{{ 'A'|trans }}",
            "custom": "{{ 'Personalizzato'|trans }}",
            "delete": "{{ 'Elimina'|trans }}",
            "deleteTitle": "{{ 'Sei sicuro?'|trans }}",
            "deleteMessage": "{{ 'Eliminare questo elemento?'|trans }}",
            "errorTitle": "{{ 'Errore'|trans }}",
            "errorMessage": "{{ "Si è verificato un errore nell'esecuzione dell'operazione richiesta"|trans }}",
            "close": "{{ 'Chiudi'|trans }}",
            "filter": "{{ 'Filtra'|trans }}",
            "long": "{{ 'La ricerca potrebbe richiedere del tempo'|trans }}",
            "details": "{{ 'Dettagli'|trans }}",
            "waiting": "{{ 'Impossibile procedere'|trans }}",
            "waiting_msg": "{{ 'Prima di proseguire devi selezionare alcuni elementi!'|trans }}",
            'hooksExecuting': "{{ 'Hooks in esecuzione'|trans }}",
            'hookExecuting': '{{ 'Hook "_NAME_" in esecuzione'|trans }}',
            'hookMultiple': "{{ 'Hai _NUM_ notifiche'|trans }}",
            'hookSingle': "{{ 'Hai 1 notifica'|trans }}",
            'hookNone': "{{ 'Nessuna notifica'|trans }}",
            'singleCalendar': "{{ "E' presente un solo periodo!"|trans }}",
            ajax: {
                "missing": {
                    "title": "{{ 'Errore'|trans }}",
                    "text": "{{ 'Alcuni campi obbligatori non sono stati compilati correttamente'|trans }}",
                },
                "error": {
                    "title": "{{ 'Errore'|trans }}",
                    "text": "{{ 'Errore durante il salvataggio del record'|trans }}",
                }
            },
            password: {
                "wordMinLength": "{{ 'La password è troppo corta' }}",
                "wordMaxLength": "{{ 'La password è troppo lunga' }}",
                "wordInvalidChar": "{{ 'La password contiene un carattere non valido' }}",
                "wordNotEmail": "{{ 'Non usare la tua e-mail come password' }}",
                "wordSimilarToUsername": "{{ 'La password non può contenere il tuo nome' }}",
                "wordTwoCharacterClasses": "{{ 'Usa classi di caratteri diversi' }}",
                "wordRepetitions": "{{ 'La password contiene ripetizioni' }}",
                "wordSequences": "{{ 'La password contiene sequenze' }}",
                "errorList": "{{ 'Attenzione' }}:",
                "veryWeak": "{{ 'Molto debole' }}",
                "weak": "{{ 'Debole' }}",
                "normal": "{{ 'Normale' }}",
                "medium": "{{ 'Media' }}",
                "strong": "{{ 'Forte' }}",
                "veryStrong": "{{ 'Molto forte' }}",
            },
            datatables: {
                "emptyTable": "{{ 'Nessun dato presente nella tabella' }}",
                "info": "{{ 'Vista da _START_ a _END_ di _TOTAL_ elementi' }}",
                "infoEmpty": "{{ 'Vista da 0 a 0 di 0 elementi' }}",
                "infoFiltered": "({{ 'filtrati da _MAX_ elementi totali' }})",
                "infoPostFix": "",
                "lengthMenu": "{{ 'Visualizza _MENU_ elementi' }}",
                "loadingRecords": " ",
                "processing": "{{ 'Elaborazione' }}...",
                "search": "{{ 'Cerca' }}:",
                "zeroRecords": "{{ 'La ricerca non ha portato alcun risultato' }}.",
                "paginate": {
                    "first": "{{ 'Inizio' }}",
                    "previous": "{{ 'Precedente' }}",
                    "next": "{{ 'Successivo' }}",
                    "last": "{{ 'Fine' }}"
                },
            },
        },

        locale: '{{ locale }}',
        full_locale: '{{ full_locale }}',

        start_date: '{{ calendar.start }}',
        start_date_formatted: '{{ calendar.start|date }}',
        end_date: '{{ calendar.end }}',
        end_date_formatted: '{{ calendar.end|date }}',

        ckeditorToolbar: [
            ["Undo","Redo","-","Cut","Copy","Paste","PasteText","PasteFromWord","-","Scayt", "-","Link","Unlink","-","Bold","Italic","Underline","Superscript","SpecialChar","HorizontalRule","-","JustifyLeft","JustifyCenter","JustifyRight","JustifyBlock","-","NumberedList","BulletedList","Outdent","Indent","Blockquote","-","Styles","Format","Image","Table", "TextColor", "BGColor" ],
        ],

        order_manager_id: '{{ order_manager_id }}',
        tempo_attesa_ricerche: {{ setting('Tempo di attesa ricerche in secondi') }},
        restrict_summables_to_selected: {{ setting('Totali delle tabelle ristretti alla selezione') }},
        select_url: "{{ url_for('ajax-select') }}",
        dataload_url: "{{ url_for('ajax-dataload', {'module_id': '|module_id|'}) }}",
        dataload_url_plugin: "{{ url_for('ajax-dataload', {'module_id': '|module_id|', 'reference_id': '|reference_id|'}) }}",
        ajax_set_url: "{{ url_for('ajax-session') }}",
        ajax_array_set_url: "{{ url_for('ajax-session-array') }}",
        messages_url: "{{ url_for('ajax-flash') }}",
        hooks: {
            list: "{{ url_for('hooks') }}",
            lock: "{{ url_for('hook-lock', {'hook_id': '|id|'}) }}",
            execute: "{{ url_for('hook-execute', {'hook_id': '|id|', 'token': '|token|'}) }}",
            response: "{{ url_for('hook-response', {'hook_id': '|id|'}) }}",
        }
    };
</script>

    {% if debugbar %}
    {{ debugbar.renderHead()|raw }}
    {% endif %}

    {% if setting('Abilita esportazione Excel e PDF') %}
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>';
    {% endif %}
{% endblock %}

{% block body %}
<div class="wrapper">
    <header class="main-header">
        <a href="https://www.openstamanager.com" class="logo" title="{{ "Il gestionale open source per l'assistenza tecnica e la fatturazione"|trans }}" target="_blank">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">{{ "OSM"|trans }}</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">
                {{ 'OpenSTAManager'|trans }}
            </span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">{{ 'Mostra/nascondi menu'|trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <!-- Navbar Left Menu -->
            <div class="navbar-left hidden-xs">
                <ul class="nav navbar-nav hidden-xs">
                    <li><a href="#" id="daterange" class="{{ calendar.is_current ? 'calendar-wrong' : '' }}" role="button">
                        <i class="fa fa-calendar" style="color:inherit"></i> <i class="fa fa-caret-down" style="color:inherit"></i>
                    </a></li>

                    <li><a class="{{ calendar.is_current ? 'calendar-wrong' : '' }}" style="background:inherit;cursor:default;">
                            {{ calendar.start|date }} - {{ calendar.end|date }}
                    </a></li>
                </ul>
            </div>

            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown notifications-menu" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span id="hooks-label" class="label label-warning">
                                <span id="hooks-loading"><i class="fa fa-spinner fa-spin"></i></span>
                                <span id="hooks-notified"></span>
                                <span id="hooks-counter" class="hide">0</span>
                                <span id="hooks-number" class="hide">0</span>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header"><span class="small" id="hooks-header"></span></li>
                            <li><ul class="menu" id="hooks">

                            </ul></li>
                        </ul>
                    </li>

                    <li><a href="#" onclick="window.print()" class="tip" title="{{ 'Stampa'|trans }}">
                        <i class="fa fa-print"></i>
                    </a></li>

                    <li><a href="{{ url_for('bug') }}" class="tip" title="{{ 'Segnalazione bug'|trans }}">
                        <i class="fa fa-bug"></i>
                    </a></li>

                    <li><a href="{{ url_for('logs') }}" class="tip" title="{{ 'Log accessi'|trans }}">
                        <i class="fa fa-book"></i>
                    </a></li>

                    <li><a href="{{ url_for('info') }}" class="tip" title="{{ 'Informazioni'|trans }}">
                        <i class="fa fa-info"></i>
                    </a></li>

                    <li><a href="{{ url_for('logout') }}" onclick="sessionStorage.clear()" class="bg-red tip" title="{{ 'Esci'|trans }}">
                        <i class="fa fa-power-off"></i>
                    </a></li>
                </ul>
            </div>

        </nav>
    </header>

    <aside class="main-sidebar"><!--  sidebar-dark-primary elevation-4 -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <a href="{{ url_for('user') }}" class="user-panel text-center info" style="height: 60px">
                <div class="text-center mt-2">
                    {% if user.photo %}
                        <img src="{{ base_path() }}{{ user.photo }}" class="profile-user-img img-fluid img-circle" alt="{{ user.username }}" />
                    {% else %}
                        <i class="fa fa-user-circle-o fa-5x"></i>
                    {% endif %}
                </div>

                <h3 class="profile-username text-center" style="width: 100%; padding-top: 10px;">
                    {{ user.username }}
                </h3>
                <p class="text-center" id="datetime"></p>
            </a>

            <!-- Form di ricerca generale -->
            <div class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" id="supersearch" placeholder="{{ 'Cerca'|trans }}..."/>
                    <span class="input-group-btn">
								<button class="btn btn-flat" id="search-btn" name="search" type="submit" ><i class="fa fa-search"></i>
								</button>
							</span>

                </div>
            </div>

            <ul class="sidebar-menu"><!-- class="nav nav-pills nav-sidebar nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu" data-accordion="true" -->
                {{ main_menu|raw }}
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

            {# % include 'layouts/messages/messages.twig' %#}

            {% block content %}{% endblock %}

            </div>
        </section>
    </div>

    <footer class="main-footer">
        <a class="hidden-xs" href="https://www.openstamanager.com" title="{{ "Il gestionale open source per l'assistenza tecnica e la fatturazione"|trans }}" target="_blank"><strong>{{ 'OpenSTAManager'|trans }}</strong></a>
        <span class="float-right hidden-xs">
            <strong>{{ 'Versione'|trans }}:</strong> {{ version }}
            <small class="text-muted">({{ revision ? revision : 'In sviluppo'|trans }})</small>
        </span>
    </footer>

    <div id="modals"></div>

    {% if debugbar %}
        <!-- Fix per le icone di debug -->
        <style>div.phpdebugbar-widgets-sqlqueries span.phpdebugbar-widgets-copy-clipboard:before, div.phpdebugbar-widgets-sqlqueries span.phpdebugbar-widgets-database:before, div.phpdebugbar-widgets-sqlqueries span.phpdebugbar-widgets-duration:before, div.phpdebugbar-widgets-sqlqueries span.phpdebugbar-widgets-memory:before, div.phpdebugbar-widgets-sqlqueries span.phpdebugbar-widgets-row-count:before, div.phpdebugbar-widgets-sqlqueries span.phpdebugbar-widgets-stmt-id:before {
            font-family: FontAwesome;
        }</style>
        {{ debugbar.render()|raw }}
    {% endif %}

    <script>
        function closeModal(element) {
            var modal = $(element).closest(".modal");
            modal.fadeOut('slow', function() {
                if ($("#modals").children().length <= 1){
                    $("body").removeClass("modal-open");
                    $(".modal-backdrop").remove();
                }

                modal.remove();
            });
        }
    </script>
</div>
{% endblock %}
